<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.letscooee">

    <application>
        <receiver
            android:name=".NotificationReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
